.slider-container{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  
  .slider-container2{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  
  .slider-container3{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  


  .card-banner {
    /* display: flex; */
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  







  .cover-container {
    margin: -70px;
    position: relative;
    height: 90vh; /* Ajusta la altura de la portada a la altura de la ventana */
    background-color: #011113; /* Color de fondo principal */
  }
  
  .cover-container img {
    display: block;
    width: 100%;
    height: 550px;
    object-fit: cover;
    opacity: 0.2; /* Opacidad de la imagen de fondo */
  }
  
  .cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ECAB2B; /* Color del texto principal */
  }
  
/* Estilos para dispositivos móviles */
@media (max-width: 400px) {
  .cover-container {
    position: relative;
    height: 94vh; /* Ajusta la altura de la portada a la altura de la ventana */
    background-color: #ffffff; /* Color de fondo principal */

    margin: -1px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cover-container img {  
    height: 180px;
    width: 400px;
    opacity: 0.9; /* Opacidad de la imagen de fondo */
    
  }
  
  .cover-content {
    font-size: 12px;
    padding: 5px;
    width: 400px;
    position: static;
    transform: none;
    text-align: center;
    color: #ECAB2B; /* Color del texto principal */
  }
}























.about-banner {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

.image-container {
  position: relative;
  /* overflow: hidden; Oculta los bordes redondeados */
  aspect-ratio: 1/1; /* Establece una relación de aspecto de 1:1 */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
  border-radius: 0;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover::before {
  opacity: 1;
}

.image-container:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
}
