.slider-container{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  
  .slider-container2{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  
  .slider-container3{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  


  .card-banner {
    /* display: flex; */
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  







  .cover-container {
    margin: -70px;
    position: relative;
    height: 100vh; /* Ajusta la altura de la portada a la altura de la ventana */
    background: #fff;


  }

  .cover-content {

    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0%, -100%);
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100%;
   bottom: 0;


   display: flex;
   justify-content: center;
   align-items: center; */

  }
  
  .cover-container img {
    display: block;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
   
  }
  

  
/* Estilos para dispositivos móviles */
@media (max-width: 400px) {
  .cover-container {
    position: relative;
    height: 94vh; /* Ajusta la altura de la portada a la altura de la ventana */
    background-color: #ffffff; /* Color de fondo principal */
    margin: -1px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cover-container img {  
    height: 180px;
    width: 400px;
    object-fit: cover;
    margin: -10px;

    
  }
  
  .cover-content {
    background-color: #ffffff;
    font-size: 12px;
    padding: 5px;
    width: 400px;
    position: static;
    transform: none;
    text-align: center;
    color: #ECAB2B; /* Color del texto principal */
  }
}



.box {
  text-align: center;
  padding: 0px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: -30px;
  aspect-ratio: 2/0;
}

@media (max-width: 480px) {
  .box {
    aspect-ratio: unset;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px; /* Ajusta el padding para dispositivos móviles */
  }
}

.box:nth-child(odd) {
  background-color: #741fec;
}

.box:nth-child(even) {
  background-color: #45e05cca;
}

.box:hover {
  cursor: pointer;
  background-color: #D8D8D8; /* Cambia el color de fondo al pasar el cursor */
}

.box img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px; /* Ajusta la altura máxima deseada */
  object-fit: cover;
  object-position: center;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  transition: box-shadow 0.3s ease; /* Agrega una transición suave al efecto */
}

.box img:hover {

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.box-content {
  padding: 10px; /* Ajusta el padding para dispositivos móviles */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box h3 {
  margin-top: 50px;
  font-size: 25px;
}

.box p {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.item-icon img {
  width: 30px;
  height: 30px;
}










.about-banner {
  
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

/* .image-container {
  position: relative;

  aspect-ratio: 1/1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 0;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container::before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover::before {
  opacity: 0.6;
  
}

.image-container:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
} */















.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}






/* Estilos para tabletas y dispositivos más grandes */
@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: 48%; /* Ajusta el ancho para mostrar dos tarjetas por fila en tabletas */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  .card {
    width: 32%; /* Ajusta el ancho para mostrar tres tarjetas por fila en pantallas grandes */
  }
}



































