.slider-container{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  
  .slider-container2{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  
  .slider-container3{
    width: 370px;
    height: 270px;
    overflow: hidden;
  }
  


  .card-banner {
    /* display: flex; */
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;


  }
  







.box {
  text-align: center;
  padding: 0px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: -30px;
  aspect-ratio: 2/0;
}

@media (max-width: 480px) {
  .box {
    aspect-ratio: unset;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px; /* Ajusta el padding para dispositivos móviles */
  }
}

.box:nth-child(odd) {
  background-color: #741fec;
}

.box:nth-child(even) {
  background-color: #45e05cca;
}

.box:hover {
  cursor: pointer;
  background-color: #D8D8D8; /* Cambia el color de fondo al pasar el cursor */
}

.box img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px; /* Ajusta la altura máxima deseada */
  object-fit: cover;
  object-position: center;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  transition: box-shadow 0.3s ease; /* Agrega una transición suave al efecto */
}

.box img:hover {

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.box-content {
  padding: 10px; /* Ajusta el padding para dispositivos móviles */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box h3 {
  margin-top: 50px;
  font-size: 25px;
}

.box p {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.item-icon img {
  width: 30px;
  height: 30px;
}










.about-banner {
  
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

/* .image-container {
  position: relative;

  aspect-ratio: 1/1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 0;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container::before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover::before {
  opacity: 0.6;
  
}

.image-container:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
} */















.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}






/* Estilos para tabletas y dispositivos más grandes */
@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    width: 48%; /* Ajusta el ancho para mostrar dos tarjetas por fila en tabletas */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  .card {
    width: 32%; /* Ajusta el ancho para mostrar tres tarjetas por fila en pantallas grandes */
  }
}








 














.cover-container {
  justify-content: center;
  align-items: center; 
  text-align: center; 
  max-height: 100%;
  max-width: 100%;
 background: rgb(67, 188, 232);
 transform: translate(0%, -10%);
 position: static;
}

.cover-content {
 
  /* transform: translate(0%, -10%); */
  /* position: relative;
  display: flex;  */
  background-color: rgba(0, 0, 0, 0.7); 
  justify-content: center;
  /* transform: translate(50%, -50%);
  transform: translate(0%, -100%); */


  background: #741fec;
  /* width:100%;
  height: 50%;
  position: static; */



}

.cover-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: translate(50%, -50%);
  transform: translate(0%, -100%); */
 
}



/* Estilos para dispositivos móviles */
@media (max-width: 400px) {
.cover-container {
  position: relative;
  height: 94vh; /* Ajusta la altura de la portada a la altura de la ventana */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover-container img {  
  max-height: 100%;
  object-fit: cover;

  
}

.cover-content {
  width:100%;
  position: static;
  transform: none;
  text-align: center;
  color: #ECAB2B;  
}

}




/* .swiper {
  width: 100%;
  height:100%; 
  padding-top: 50px;
  padding-bottom: 50px; 

} */

/* .swiper-slide {

  position: absolute; 
  transform: translate(0%, -100%); 
 text-align: center; 
 align-items: center;
 box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
 filter: blur(1px);
 border-radius: 0px; 
  display: flex; 
 flex-direction: column;
 justify-content: end;
 align-items: self-start;

} */

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

/* .spantitle {

  text-transform: uppercase;
  background: #fefefe;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
} */

 /* .swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}  */

.swiper-slide p {
  color: #e62727;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}  



.swiper-slide--one {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;

  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("/assets/images/Portadas/logo2.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;

  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("/assets/images/Portadas/portadasaz.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;

  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("/assets/images/Portadas/chicasprogramadorasscz.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("/assets/images/Portadas/colegioportada.png")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("/assets/images/Portadas/lapaz.png")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}